// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

#footer
{
  padding-top: $lg;
  padding-bottom: $xl;
  font-size: $font-size-sm;
  background-color: $secondary-bg;
  color: $secondary-fg;

  @media (max-width: $tablet-breakpoint)
  {
    padding-top: $md;
    padding-bottom: $lg;
  }

  @media (max-width: $mobile-breakpoint)
  {
    padding-top: $sm;
    padding-bottom: $sm;
  }

  %headings
  {
    position: relative;
    margin-bottom: $md;
    padding-top: $xs;
    @extend h5;

    @media (max-width: $mobile-breakpoint)
    {
      margin-bottom: $sm;
    }
  }

  %headings::before
  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $sm;
    height: 0;
    content: " ";
    border-top: 2px solid $secondary-fg;
  }

  ul
  {
    @extend .unstyled;
  }

  a
  {
    color: $secondary-fg;
  }

  a:hover
  {
    text-decoration: underline;
    color: $accent !important;
  }

  p
  {
    color: $info;
  }
}
