title=Reach new audiences with Acceptable Ads
description=There’s a wide variety of solutions for publishers, ad networks, advertisers and ad-tech suppliers. Learn how to monetize your ad blocking audience!
custom=1

<? include solutions/style ?>

<div class="container">
  <h1>{{solutions-heading[Solutions heading] Solutions}}</h1>
</div>
<div class="bg-accent">
  <div class="container group-container">
    <div class="group group-4 cards center">
      <? include solutions/publishers ?>
      <? include solutions/ad-networks ?>
      <? include solutions/advertisers ?>
      <? include solutions/ad-tech-suppliers ?>
    </div>
  </div>
</div>
