// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// Cards

.card
{
  padding: $md;
  color: $primary-fg;
  border: 1px solid $primary-fg;
  background-color: $primary-bg;
}

.card %headings
{
  @extend h3;
  height: $md + $sm;
  margin: $sm 0 $sm 0;

  @media (max-width: $mobile-breakpoint)
  {
    height: auto;
  }
}

.card-icon
{
  margin: $sm 0;
}

.center .card-icon
{
  margin: $lg - $sm 0 $md 0;

  @media (max-width: $tablet-breakpoint)
  {
    margin-top: $md;
  }
  @media (max-width: $mobile-breakpoint)
  {
    margin-top: $sm;
  }
}

img.card-icon,
.card-icon img
{
  height: 48px;
}

.card img.block
{
  margin: 0;
}

.card-summary {
  margin: $md 0;
  height: $xl;

  @media (max-width: $mobile-breakpoint)
  {
    margin: $sm;
    height: auto;
  }
}

// negative margin shrinks containing paragraph margin
.card %buttons
{
  display: block;
  width: 100%;
  margin-bottom: -$xs;
}

// slightly shrink list padding
.card li::before
{
  width: $md;
  text-align: left;
}

// slightly shrink h6
.card h6
{
  margin: 0;
  padding: 0;
  font-size: $font-size-sm;
  font-weight: 300;
}

// transparent borders on backgrounds must be set manually because of border-box

.bg-secondary .card
{
  border-color: $secondary-bg;
}

.bg-accent .card
{
  border-color: $accent;
}

// Custom list cards

.card.list
{
  padding: 0;
}

.card.list %headings
{
  height: auto;
  margin: 0 0 $xs 0;
  padding: $sm;
  color: $inverted-fg;
  background-color: $inverted-bg;

  @extend h5;
}

.card.list p,
.card.list ul
{
  margin: $sm;
}

.card.list li
{
  margin: $xs 0;
  padding: $xs / 2 0;
  border-bottom: 1px dotted $accent;

  @extend .unstyle-list;
}

.card.list a
{
  text-decoration: none;
  color: $primary-fg;
}

.card.list a%active
{
  color: $accent;
}
