
.footnote
{
  margin-top: $lg;

  @media (max-width: $tablet-breakpoint)
  {
    margin-top: $md;
  }
}

.footnote-ref
{
  font-weight: 700;
  font-size: 12px;
}

.footnote li > p
{
  margin: 0;
  display: inline-block;
}
