// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// items automatically count like an ol

.items
{
  counter-reset: group;
}

.item
{
  position: relative;
  padding-left: 1.5em;
}

.items .item::before
{
  display: block;
  position: absolute;
  top: 0;
  width: 1.5em;
  content: counter(group, decimal-leading-zero);
  counter-increment: group;
  color: $accent;
}

html[dir="ltr"] .items .item::before
{
  left: 0;
}

html[dir="rtl"] .items .item::before
{
  right: 0;
}
