</div>
<div class="bg-accent">
  <div class="container p-y-lg">
    <div class="group group-3">
      <? include example/card-center ?>
      <? include example/card-center ?>
      <? include example/card-center ?>
    </div>
  </div>
</div>
<div class="container">
