<h3>Inline fields</h3>
<p>Radio input group</p>
<label>
  <input type="radio" name="radio-group-example" checked> Radio text
</label>
<label>
  <input type="radio" name="radio-group-example"> Radio text
</label>
<label>
  <input type="radio" name="radio-group-example"> Radio text
</label>
<p>
  Checkbox input group
</p>
<label>
  <input type="checkbox" name="checkbox-group-example" value="1" checked> Checkbox text
</label>
<label>
  <input type="checkbox" name="checkbox-group-example" value="2"> Checkbox text
</label>
<label>
  <input type="checkbox" name="checkbox-group-example" value="3"> Checkbox text
</label>
