</div>
<div class="masthead bg-info">
  <div class="container" role="banner">
    <div class="row">
      <div class="col-6 masthead-img">
        <img alt="{{masthead-img-alt[Masthead image alt text] Acceptable Ads banner}}" src="/img/placeholders/placeholder-masthead-tall.png" />
      </div>
      <div class="col-6 masthead-body">
        <div>
          <h1>{{masthead-heading-1[Masthead heading line 1] Support better advertising.}}<br> {{masthead-heading-2[Masthead heading line 2] Reach new audiences.}}</h1>
          <hr>
          <p>{{masthead-body[Masthead body text] Acceptable Ads help publishers, networks and advertisers generate more viable sources of revenue, which keeps online content free and delivers less intrusive ads that provide a more positive user experience.}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
