title=What are Acceptable Ads?
description=Acceptable Ads are nonintrusive ad formats that are accepted by ad blocking users and allow content creators to monetize their content.
custom=1

<style>
#about-img
{
  max-width: 100%;
  padding-right: 45px;
  padding-left: 45px;
}

@media(min-width: 768px)
{
  #about-img
  {
    padding-left: 35px;
    padding-right: 35px;
  }
}
</style>

<div class="container">
  <h1>{{what-are-acceptable-ads-heading[What are Acceptable Ads heading] What are Acceptable Ads?}}</h1>
  <div class="row section">
    <div class="col-6 expand-on-tablet">
      <? include about/what-are-acceptable-ads ?>
    </div>
  </div>
</div>

<div class="bg-accent section">
  <div class="container center">
    <? include about/treating-people-with-respect ?>
  </div>
</div>

<div class="container section">
  <h2>{{acceptable-ads-heading[Acceptable Ads... heading] Acceptable Ads...}}</h2>
  <div class="row">
    <div class="col-6 push-6">
      <img class="block" id="about-img" alt="{{acceptable-ads-image-alt(Acceptable Ads... image alt text) Acceptable Ads promotional image}}" src="/img/png/what-is-acceptableads.png" />
    </div>
    <div class="col-6 pull-6">
      <? include about/acceptable-ads-are ?>
    </div>
  </div>
</div>
